body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2C2F33;
    color: #FFFFFF;
}

header {
    background-color: #23272A;
    padding: 40px 20px; /* Increase the padding to make the header taller */
    text-align: center;
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo-container {
    position: absolute;
    top: -20px; /* Move the logo up */
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    width: 70px; /* Made the logo bigger */
    height: auto;
}

h1 {
    margin: 0;
    font-size: 28px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #7289DA;
    text-decoration: none;
    font-size: 18px;
    transition: text-decoration 0.3s; /* Smooth transition */
}

nav ul li a:hover {
    text-decoration: underline; /* Underline on hover */
}

main {
    text-align: center;
    padding: 50px 20px;
}

.welcome h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.welcome p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.welcome .avatar {
    margin-top: 20px;
    width: 150px; /* Made the cat avatar bigger */
    height: auto;
}
